<!DOCTYPE html>
<html>

<head>
	<title>My Final Project Title Here</title>
		<script src="https://www.code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

		<script src="utils.js"></script>
		<script src="finaltemplate.js.html"></script>
		<link href="normalize.css" rel="stylesheet" />
		<link href="styles.css" rel="stylesheet" />

		<script>
		$(document).ready(function(){

			$("body").prepend(getTemplate(headerTemplate, {class: 'page', title: 'food'}) );


		});

		</script>
</head>

<body>
Lul
</body>

</html>