

h1
	{
		box-sizing: border-box;
		border: 3px solid #fff;
		padding: 20px;
	}

	body {
  padding: 100px;
  background: #F0E3C3;
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  color: #000
}

ol
	{
		text-align: center;
		
	}
li	{
		text-align: center;
}
img {
	float: center;
	width: 400px;
		max-width: 100%;
		padding-right:10px;
		padding-bottom:10px;


}